<div class="depot_form">
  <%= form_for(user, url: user_password_url(user)) do |f| %>
    <fieldset>
    <legend>Change Password</legend>

    <div class="field">
      <%= f.label :current_password, 'Current Password', { id: 'current_password' } %>
      <%= f.password_field :current_password, id: 'current_password', size: 40 %>
    </div>

    <div class="field">
      <%= f.label :password, 'New Password' %>
      <%= f.password_field :password, size: 40 %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, 'Confirm' %>
      <%= f.password_field :password_confirmation, size: 40 %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>

    </fieldset>
  <% end %>
</div>
